WEBSITE_ENV=
WEBSITE_URL=
KOYA_URL=
KOYA_DELIVERY_KEY=
KOYA_WEBHOOK_KEY=
KOYA_MANAGEMENT_KEY=
# optional, local development only
#KOYA_WEBHOOK_URL=http://localhost:3000/api/revalidate
REDIS_HOST=
REDIS_PORT=
