WEBSITE_ENV=
WEBSITE_URL=
KOYA_URL=
KOYA_API_KEY=
KOYA_WEBHOOK_KEY=
# owner secret, only needed for `just schema ...`
KOYA_SECRET=
# optional, local development only
#KOYA_WEBHOOK_URL=http://localhost:3000/api/revalidate
REDIS_HOST=
REDIS_PORT=
