@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: "Zen Maru Gothic", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Zen Maru Gothic", sans-serif;
  }
}

@supports (font-variation-settings: medium) {
  :root {
    font-family: "Zen Maru Gothic", sans-serif;
  }
}


@supports (font-variation-settings: bold) {
  :root {
    font-family: "Zen Maru Gothic", sans-serif;
  }
}

@view-transition {
  navigation: auto;
}